# Creating a balanced class data set of the YELP 

During EDA for the YELP dataset we discovred there was a high imbalance in positive (15329) and negative  (2497) reviews after cleaning the dataset the same wya we did with the IMDB. We decided to go with the maximum amount of reviews for negative and then use same number of positives.

The code below creates the cleaned and balanced yelp review dataset: "balanced_yelp_dataset.csv".

In [2]:
import pandas as pd

In [ ]:
df = pd.read_csv("../../data/yelp_datasets/clean_yelp_dataset.csv")

In [ ]:
neg_df = df[df['sentiment'] == 'negative'].sample(n=2497, random_state=42)
pos_df = df[df['sentiment'] == 'positive'].sample(n=2497, random_state=42)

In [ ]:
# Combine and shuffle the balanced dataset
balanced_df = pd.concat([neg_df, pos_df])
balanced_df = balanced_df.sample(frac=1, random_state=42).reset_index(drop=True)

In [ ]:
balanced_df.to_csv("../../data/yelp_datasets/balanced_yelp_dataset.csv", index=False)

In [ ]:
print(balanced_df['sentiment'].value_counts())
balanced_df.head()

sentiment
negative    2497
positive    2497
Name: count, dtype: int64

,review,sentiment,word_count,length_bucket,char_count,char_length_bucket
0,Great for the Charlotte area and those who are...,negative,18,<50,116,<500
1,Environment is pretty neat Online order proces...,negative,34,25-50,198,<500
2,I went early Saturday morning on a walk from C...,positive,97,75-100,530,500-1000
3,Miserable experience at churn trying to get ic...,negative,157,150-200,841,500-1000
4,Nahnot worth itI heard about Milk coming from ...,negative,47,25-50,256,<500

In [ ]:
# Combine and shuffle the balanced dataset
balanced_df = pd.concat([neg_df, pos_df])
balanced_df = balanced_df.sample(frac=1, random_state=42).reset_index(drop=True)